{{> header}}

<p>{{representation}}</p>

<div class="actions">

    {{#actions}}
        <section>
            <header class="article-header">
                <a href="/action/{{id}}">{{callToAction}}</a>
            </header>
        </section>
    {{/actions}}
</div>

{{> footer}}